/* Show it is fixed to the top */
body {
    padding-top: 4.5rem;
    background-color: #343a40;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #343a40;
  }

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #343a40;
    background-clip: border-box;
    border: 1px solid rgb(52, 58, 64);
    border-radius: 0;
    color: #fff !important;
}

.btn-link:hover {
    color: #fff;
    text-decoration: underline;
}

.btn-link {
    color: #fff;
    text-decoration: underline;
}

.pool_links {
  color: #31f5ff !important;
}
.pool_links:hover, .pool_links:active {
  color: #fff !important;
}

@media (min-width: 768px) {
.navbar-brand
    {
        position: relative;
        left: 40%;
        transform: translateX(-15%);
    }
}
