<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="Статистика пулов, прибыльный пул, пулы для майнинга, пулы btc, пулы bitcoin, топ пулы для майнинга, bitcoin, sha256, курс bitcoin" />
        <meta name="description" content="Статистика пулов для майнинга, прогноз курса bitcoin" />
<meta name="yandex-verification" content="0263ddbfcd6c48d6" />
        <title>Статистика пулов и курсы валют</title>
{% load bootstrap4 static %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static "css/navbar-top-fixed.css" %}" type="text/css"/>
<!? Yandex.Metrika counter ?>
<script type="text/javascript" >
 (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
 m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
 (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

 ym(65807341, "init", {
 clickmap:true,
 trackLinks:true,
 accurateTrackBounce:true,
 webvisor:true
 });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/65807341" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!? /Yandex.Metrika counter ?>
        </head>
{% bootstrap_messages %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Статистика пулов</a>
    <a class="navbar-brand" href="/api/">API</a>
    <a class="navbar-brand" href="/api/btc/all/get/?format=csv">CSV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"></a>
        </li>
            <li class="nav-item active">
          <a class="nav-link" href="#"></a>
        </li>
          <li class="nav-item active">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#"></a>
          </li>
        <li class="nav-item active">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"></a>
          </li>
      </ul>
    </div>
  </nav>

      <main role="main" class="container">
<div id="accordion">

  <div class="card" data-target="#collapsebot" aria-expanded="true" aria-controls="collapsebot">
    <div class="card-header" id="bot">
      <h5 class="mb-0">
        <a href="https://t.me/pools_profit_bot" target="_blank" class="btn btn-link btn-block" role="button" aria-pressed="true">Telegram bot</a>
      </h5>
    </div>
  </div>

  <div class="card" data-target="#collapsebtc" aria-expanded="true" aria-controls="collapsebtc">
    <div class="card-header" id="btc">
      <h5 class="mb-0">
        <a href="/btc/" class="btn btn-link btn-block" role="button" aria-pressed="true">BTC</a>
      </h5>
    </div>
  </div>

  <div class="card" data-target="#collapseltc" aria-expanded="true" aria-controls="collapseltc">
    <div class="card-header" id="ltc">
      <h5 class="mb-0">
        <a href="/ltc/" class="btn btn-link btn-block" role="button" aria-pressed="true">LTC</a>
      </h5>
    </div>
  </div>

  <div class="card" data-target="#collapseeth" aria-expanded="true" aria-controls="collapseeth">
    <div class="card-header" id="eth">
      <h5 class="mb-0">
        <a href="/eth/" class="btn btn-link btn-block" role="button" aria-pressed="true">ETH</a>
      </h5>
    </div>
  </div>
</div>

        <hr>
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <footer class="mastfoot col text-center col-md-auto">
    <div class="inner">
    </div>
  </footer>

        </div>
      </main>
{% bootstrap_javascript jquery='full' %}

<script type="text/javascript">
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
</html>
