<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="Статистика пулов, прибыльный пул, пулы для майнинга, пулы btc, пулы bitcoin, топ пулы для майнинга, bitcoin, sha256, курс bitcoin" />
        <meta name="description" content="Статистика пулов для майнинга, прогноз курса bitcoin" />
<meta name="yandex-verification" content="0263ddbfcd6c48d6" />
        <title>Статистика пулов и курсы валют</title>
{% load bootstrap4 static %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static "css/navbar-top-fixed.css" %}" type="text/css"/>
<!? Yandex.Metrika counter ?>
<script type="text/javascript" >
 (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
 m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
 (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

 ym(65807341, "init", {
 clickmap:true,
 trackLinks:true,
 accurateTrackBounce:true,
 webvisor:true
 });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/65807341" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!? /Yandex.Metrika counter ?>
        </head>
{% bootstrap_messages %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Статистика пулов</a>
    <a class="navbar-brand" href="/api/">API</a>
    <a class="navbar-brand" href="/api/btc/trustpool/get/?format=csv">CSV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"></a>
        </li>
            <li class="nav-item active">
          <a class="nav-link" href="#"></a>
        </li>
          <li class="nav-item active">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#"></a>
          </li>
        <li class="nav-item active">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"></a>
          </li>
      </ul>
    </div>
  </nav>

      <main role="main" class="container">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Название</th>
              <th scope="col">1 TH</th>
              <th scope="col">ДАТА</th>
            </tr>
          </thead>
          <tbody>
            {% for pool in trustpool %}
            <tr>
              <td><a style="color:white;" href="{{pool.url}}" target="_blank">{{pool.name}}</a></td>
              <td>{{pool.price}}</td>
              <td>{{pool.published|date:'Y-m-d H:i:s T'}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <hr>
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <footer class="mastfoot col text-center col-md-auto">
    <div class="inner">
    </div>
  </footer>

        </div>
      </main>
{% bootstrap_javascript jquery='full' %}
</html>
